<app-header></app-header>
<section class="hero">
    <div>
        <h1 class="hero-h1-class">Bienvenido al Centro de Apoyo para la Salud Mental</h1>
        <p class="hero-p-class">Estamos aquí para ayudarte en tu bienestar mental y emocional.</p>
    </div>
</section>

<section class="features">
    <div class="feature-box">
        <i class="fas fa-brain"></i>
        <h3 class="feature-box-h3-class">Apoyo Psicológico</h3>
        <p class="feature-box-p-class">Ofrecemos sesiones de terapia con profesionales de la salud mental para ayudarte con tus problemas.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-hands-helping"></i>
        <h3 class="feature-box-h3-class">Apoyo Emocional</h3>
        <p class="feature-box-p-class">Brindamos un espacio seguro para que puedas hablar y sentirte escuchado.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-heart"></i>
        <h3 class="feature-box-h3-class">Auto-cuidado</h3>
        <p class="feature-box-p-class">Te ayudamos a desarrollar hábitos de cuidado personal para mejorar tu bienestar emocional.</p>
    </div>
    <div class="feature-box">
        <i class="fas fa-edit"></i>
        <h3 class="feature-box-h3-class">Desahógate</h3>
        <p class="feature-box-p-class">Ofrecemos un apartado de notas donde podrás escribir tus pensamientos para que liberes tu estrés.</p>
    </div>
</section>
<app-footer></app-footer>