.header-class {
    background-color: #0d3b66;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-class-img {
    max-height: 80px;
}

.nav-class {
    display: flex;
    gap: 20px;
}

.nav-class-a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
}

.nav-class-a:hover {
    color: #fdd300;
}