<header class="header-feed">
    <div class="header-left">
        <img class="header-left-img" src="CASM.png" alt="Logo de CASM">
    </div>
    <div class="header-center">
        <h1 class="header-center-h1">CASM</h1>
    </div>
    <nav class="header-right">
        <ul class="header-right-ul">
            <li class="header-right-ul-li"><a class="header-right-ul-li-a" href="#publicaciones">Premium</a></li>
            <li class="header-right-ul-li"><a class="header-right-ul-li-a" href="directorio.html">Directorio</a></li>
            <li class="header-right-ul-li"><a class="header-right-ul-li-a" href="#" id="openChat">Inicio</a></li>
            <img class="header-right-ul-img" src="usuario.png" alt="Perfil">
        </ul>
    </nav>
</header>